{% extends 'base.html' %}
{% load static %}
{% static 'images' as baseUrl %}
	
 {% block content %}

        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Wishlist</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="index.html">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Wishlist</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- cart-main-area start -->
        <div class="cart-main-area section-padding--lg bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ol-lg-12">
                        <form action="#">               
                            <div class="table-content wnro__table table-responsive">
                                <table>
									<thead>
										<tr>
											<th class="product-remove"></th>
											<th class="product-thumbnail"></th>
											<th class="product-name"><span class="nobr">Product Name</span></th>
											<th class="product-price"><span class="nobr"> Unit Price </span></th>
											<th class="product-stock-stauts"><span class="nobr"> Stock Status </span></th>
											<th class="product-add-to-cart"></th>
										</tr>
									</thead>
									<tbody>

										{% for dest in dests %}

										<tr>
											<td class="product-remove"><a href="#">×</a></td>
											<td class="product-thumbnail"><a href="#"><img src="{{ dest.product_id.bookfront_cover.url }}" alt=""></a></td>
											<td class="product-name"><a href="#">{{ dest.product_id.name }}</a></td>
											<td class="product-price"><span class="amount">{{ dest.product_id.price }}</span></td>
											<td class="product-stock-status"><span class="wishlist-in-stock">In Stock</span></td>
											<td class="product-add-to-cart"><a href="{{ dest.product_id.id }}"> Add to Cart</a></td>
										</tr>

										{% endfor %}
										
									</tbody>
                                </table>
                        	</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart-main-area end --> 
		
	
	{% endblock %}